<h2>Edit {{name}}</h2>

<form action="/scores/edit/{{id}}?_method=put" method="post">
    <p>
        <label>Name Your Song</label>
        <input class="input" type="text" name="name" value="{{name}}" placeholder=""/>
        <label>Number of Beats</label>
        <input class="input" type="text" name="time_signature" value="{{time_signature}}" placeholder="Enter a whole
number"/>
    </p>
    <h2> Add the pitches and rhythms </h2>
    <h3>Please remember that the Treble Clef notes range from A3 through C6</h3>
    <h3> Rhythm may be entered as 'h' for half note, 'q' for quarter note, and 8 for eighth notes</h3>
    <p >
        <label>Pitch</label>
        <input id="pitch" class="input" type="text" name="pitch" required placeholder="Ex: G5"/>
        <label>Rhythm</label>
        <input id="rhythm" class="input" type="text" name="rhythm" placeholder="Ex: /q "/>
        <input id="add-note" class="button" type="submit" value="Add this Note"
               onclick="addNote('{{pitch}}', '{{rhythm}}')"/>
    </p>
    <ul id="note-array">

    </ul>

    <input class="button" type="submit" value="Update this Song" />
</form>