<h2>Edit {{name}}</h2>

<form action="/scores/edit/{{id}}?_method=put" method="post">
    <h2> Add the pitches and rhythms </h2>
    <h3>Please remember that the Treble Clef notes range from A3 through C6</h3>
    <h3> Rhythm may be entered as 'h' for half note, 'q' for quarter note, and 8 for eighth notes</h3>
    <h3> * Note * If you want to delete a note from the song, you must select the check box, hit the delete checked
        boxes button, and then update the notes <i>before</i> you update the song.
    </h3>
    <label>Notes</label>
    {{#each notes}}
        <ul id="note-array">
            <li>
                <input class="notes-of-song" type="text" name="notes" value="{{this}}">
                <input class="checkbox" type="checkbox" value="">
            </li>
        </ul>
    {{/each}}
    <label>Pitch</label>
    <input class="input" type="text" name="pitch" placeholder=""/>
    <label>Rhythm</label>
    <input class="input" type="text" name="rhythm" placeholder=""/>
    <br>
    <input class="button" type="submit" value="Update these Notes" onclick="addNote('{{pitch}}', '{{rhythm}}')"/>
    <input class="button" type="button" value="Delete checked boxes" onclick="deleteNote()"/>
</form>
<br>
<form action="/scores/edit/{{id}}?_method=put" method="post">
        <label>Edit Song Name</label>
        <input class="input" type="text" name="name" value="{{name}}" placeholder=""/>
        <label>Number of Beats</label>
        <input class="input" type="text" name="time_signature" value="{{time_signature}}" placeholder="whole number"/>
    <br>
    <input class="button" type="submit" value="Update this Song" />
</form>
