<h2> {{pitch}}</h2>
<h2> {{rhythm}}</h2>
<input type="submit" id="score" onclick="writeNote('{{pitch}}', '{{rhythm}}')"
       value="Make this note">
<div class="music-render" id="new-song" >


</div>
<form action="/notes/{{id}}?_method=delete" method="post">

    <input class="button" type="submit" class="button" value="Delete this Note">
</form>