<h2> {{name}}</h2>

<input class="button" type="submit" id="score" onclick="writeScore('{{time_signature}}', '{{notes}}', '{{clef}}')"
       value="Make this song">

<div class="music-render" id="new-song" >


</div>
<a href="/scores/edit/{{id}}" class="link">Edit this Song</a>
<form action="/scores/{{id}}?_method=delete" method="post">

    <input class="button" type="submit" class="button" value="Delete this Song">
</form>
